<% if flash[:notice] %>
  <div class="fixed bottom-0 right-0 flex items-center justify-between p-4 m-5 text-center rounded-lg bg-blue-500 w-60 text-white">
    <%= flash[:notice] %>
  </div>
<% end %>


<% if flash[:alert] %>
  <div class="fixed bottom-0 right-0 flex items-center justify-between p-4 m-5 text-center rounded-lg bg-red-500 w-60 text-white">
    <%= flash[:alert] %>
  </div>
<% end %>